body {
    background-color: #336699;
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 8%;
    padding-left: 15%;
}

.links{
    color: #8CC739;
}

.accordion {
    font-family: 'Ubuntu', sans-serif;
    background-color: #CECFCE;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    max-width: 500px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion.active, .accordion:hover {
    background-color: #999999;
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: 0.8s ease-in-out;
    opacity: 0;
    width: 77%;
    max-width: 480px;
}

.panel.show {
    opacity: 1;
    max-height: 600px;
}

#footer {
    color: #ffffff;
}
