body {
    background: linear-gradient(to right, #336699, #5b84ad);
    color: #ffffff;
    font-family: 'Droid Sans', sans-serif;
    padding-top: 8%;
    padding-left: 15%;
}

.links{
    color: #8CC739;
}

.accordion {
    font-family: 'Droid Sans', sans-serif;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 70%;
    max-width: 500px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion.active, .accordion:hover {
    background-color: #999999;
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: auto;
    transition: 0.8s ease-in-out;
    opacity: 0;
    width: 67%;
    max-width: 480px;
}

.panel.show {
    opacity: 1;
    max-height: 1000px;
}

#footer {
    color: #ffffff;
}
